
.second-pad {
  padding-bottom: 8rem;
}

.grid-container-third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "third-image third-text";
    height: 25rem;
    place-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
  .grid-container-third {
    display: block;
}
}

@media screen and (max-width: 768px) {
.third-image {
  width: 300px !important;
  margin: 0 auto;
  margin-top: 1rem;
}
}

@media screen and (max-width: 768px) {
.third-text {
  text-align: center;
  margin-top: 1rem;
}
}
  
  .third-image {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    gap: 1px 1px;
    grid-template-areas: "image-third";
    grid-area: third-image;
    width: 500px;
    justify-self: left;
  }
  
  .image-third { grid-area: image-third; }
  
  .third-text {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    gap: 1px 1px;
    grid-area: third-text;
    justify-self: right;
  }


p.third-para {
  width: 45%;
  margin: 0 auto;
  padding: 5px;
  display: block;
  letter-spacing: var(--spacing);
  color: hsl(209deg 61% 16%);
  line-height: 1.8;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  border-radius: var(--radius);
}

p.third-para2 {
  color: hsl(209deg 61% 16%);
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: var(--spacing);
}

li.third-space {
  color: hsl(209deg 61% 16%);
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: var(--spacing);
}
  
  .third-text-box { grid-area: 1 / 1 / 2 / 3; }

  .third-button {
    display: inline-block;
    padding: .675rem 2.625rem .675rem 2.625rem;
    border-radius: 2rem;
    border: solid 2px black;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .third-icon {
    padding-right: 8px;
    padding-top: 4px;
    color: #0a0c10;
  }

  .third-space {
    margin-bottom: 0.375rem;
  }




  .grid-container-fourth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "third-image third-text";
    place-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .section-fourth {
    padding-top: 8rem;
  }
  
  .inside-image {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    gap: 1px 1px;
    grid-template-areas: "image-third";
    grid-area: third-image;
    width: 500px;
    justify-self: left;
  }
  
  .image-third { grid-area: image-third; }
  
  .third-text {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    gap: 1px 1px;
    grid-area: third-text;
    justify-self: right;
  }
  
  .third-text-box { grid-area: 1 / 1 / 2 / 3; }

  .third-button {
    display: inline-block;
    padding: .675rem 2.625rem .675rem 2.625rem;
    border-radius: 2rem;
    border: solid 2px black;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .third-icon {
    padding-right: 8px;
    padding-top: 4px;
    color: #0a0c10;
  }

  .third-space {
    margin-bottom: 0.375rem;
  }

.k-description:hover {
  -webkit-transform: translate(3em,0);
  -moz-transform: translate(3em,0);
  -o-transform: translate(3em,0);
  -ms-transform: translate(3em,0);
  transform: translate(3em,0);
}