
  
  .react-tabs__tab-list {
    border-bottom: 2px solid rgb(202, 202, 202);
    margin: 0 0 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2.75rem;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;   
  }

  @media screen and (max-width: 768px) {
  .react-tabs__tab-list {
    border-bottom: 2px solid rgb(202, 202, 202);
    display: grid;
    grid-template-columns: 130px 1fr 1fr;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
}
  
  .react-tabs__tab {
    color: #102a42;
    font-weight: 500 !important;
    letter-spacing: var(--spacing);
    font-size: 15px;
    cursor: pointer;
    padding: 0.25rem 1rem;
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .react-tabs__tab--selected {
    color: black;
    border-bottom: 2px solid #6f9654;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }

  .icon-tabs {
    margin-right: 10px;
    margin-bottom: -3px;
  }